@import url('');  
:root{
    --primary-color: #057b80;
    --secondary-color: #024042;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --bg-color: rgb(0, 0, 0);
} 
html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    text-decoration: none;
    list-style: none;

}
body{
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
}
.py-1{
    padding: 1rem 0;
}
.py-2{
    padding: 1.5rem 0;
}
.py-3{
    padding: 2rem 0;
}
.py-4{
    padding: 3rem 0;
}
.py-5{
    padding: 4rem 0;
} 
.p-1{
    padding: 1rem;
}
.p-2{
    padding: 1.5rem;
}
.p-3{
    padding: 2rem;
}
.p-4{
    padding: 3rem;
}
.p-5{
    padding: 4rem;
} 
.my-1{
    margin: 1rem 0;
}
.my-2{
    margin: 1.5rem 0;
}
.my-3{
    margin: 2rem 0;
}
.my-4{
    margin: 3rem 0;
}
.my-5{
    margin: 4rem 0;
} 
.m-1{
    margin: 1rem;
}
.m-2{
    margin: 1.5rem;
}
.m-3{
    margin: 2rem;
}
.m-4{
    margin: 3rem;
}
.m-5{
    margin: 4rem;
}   
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
p{
    margin: 10px 0;
}
img{
    width: 100%;
}
.header{
    width: 100%;
    position: fixed;
    z-index: 22;
}
.container{
    width: 90%;
    margin: auto;
}
.navbar{
    background-color: #fff;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 5px #7c7c7c;
}
.navbar .left .logo{
    font-weight: bolder;
}
.navbar .left .logo span{
    color: orangered;
}
.navbar .left, .navbar .left ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .left ul{
    margin-left: 30px;
}
.navbar .left ul li{
    padding: 20px 15px;
    border-bottom: 2px solid #fff;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
}
.navbar .left ul li a{
    color: #012133;
}
.navbar .left ul li.active, .navbar .left ul li:hover{
    border-bottom: 2px solid orangered;
    background-color: #f5f5f5;
}
.navbar .left, .navbar .right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .right, .navbar .right .link_with_us{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .right a{
    padding: 10px;
    font-size: 13px;
    color: #012133;
    font-weight: bold;
}
.navbar .hambuger{
    border: none;
    outline: none;
    background: transparent;
    padding: 5px 0;
    margin-left: 10px;
    cursor: pointer;
    z-index: 288;
}
.navbar button div{
    background-color:orangered;
    margin: 4px 0;
    width: 25px;
    height: 2px;
}
.navbar button:hover div{
    background-color: #fff;
}
.navbar button:hover div:nth-child(1){
    transform: rotate(45deg);
}
.navbar button:hover div:nth-child(2){
    display: none;
}
.navbar button:hover div:nth-child(3){
    transform: rotate(-45deg);
    position: relative;
    bottom: 5px;
}
.hiddenMenu{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: -2000px;
    left: 0;
    padding: 20px 30px;
    background-color: orangered;
    transition: all 1.3s ease-in-out;
}
.hiddenMenu.hambuger{
    top: 0;
    transition: all .3s ease-in-out;
}
.hiddenMenu h3{
    color: #fff;
    margin-bottom: 50px;
}
.hiddenMenu .flex_menu div .menu li, .hiddenMenu .flex_menu div .link_with_us li{
    padding: 10px 0;
}
.hiddenMenu .flex_menu div .menu li a, .hiddenMenu .flex_menu div .link_with_us li a{
    color: #fff !important;
}
.flex_menu{
    display: flex;
    justify-content: space-between;
}
.hero-content{
    width: 70%;
    position: relative;
    top: 30%;
}
.hero{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.74);
}
.background-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}
.hero-content h1{
    font-size: 100px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 0.9;
    color: #fff;
    text-shadow: 1px 1px 2px #000000;
}
u{
    color: orangered;
}
.hero-content p{
    color: #fff;
    margin: 30px 0 60px 0;
    font-size: 18px;
    line-height: 0.9;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.hero-content .call_to_action button{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}
.hero-content .call_to_action button{
    border: 2px solid #fff;
    padding: 10px 25px;
    color: rgb(255, 255, 255);
    margin-right: 10px;
    transition: all 0.2s ease-in-out;
}
.hero-content .call_to_action button:first-child{
    border: 2px solid orangered;
    background-color: orangered;
    color: #ffffff;
}
.hero-content .call_to_action button:hover{
    background-color: orangered;
    border: 2px solid orangered;
    padding: 10px 25px;
    color: rgb(255, 255, 255);
    transition: all 0.2s ease-in-out;
    box-shadow: 4px 3px 2px #000000;
}
.aboutsection{
    width: 100%;
    padding: 50px 0;
    background-color: rgb(255, 255, 255);
}

.aboutcontent{
    padding: 50px 0;
    margin-top: -30px;
    background-color: #fff;
}
.aboutcontent .card-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.aboutcontent .card-container .box1, .aboutcontent .card-container .box2{
    width: 50%;
}
.aboutcontent .card-container .box2 .mini{
    width: 100%;
}
.card-container .box1 img{
    width: 100%;
}
.card-container .box1 b{
    font-size: 19px;
    padding: 15px;
}
b{
    color: blueviolet;
}
.box .box1 p{
    padding: 0 15px;
    color: rgb(58, 57, 57);
}
.mini{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.mie{
    width: 49%;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 15px;
    color: rgb(22, 22, 22);
    box-shadow: 2px 2px 20px rgba(29, 28, 28, 0.24);
    border: 1px solid rgb(233, 233, 233);
}
.mie img{
    align-items: center;
    width: 50%;
}
.abt_us{
    background-color: #000000;
    color: #fff;
    padding: 50px 0;
    position: relative;
}
.abt_us:before{
    content: '';
    position: absolute;
    height: 100px;
    bottom: -60px;
    right: 0;
    left: 0;
    background: #c7c7c7;
    transform: skewY(-4deg);
}
.abt_us:after{
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: #fff;
    transform: skewY(-3deg);
}
.abt_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.abt_content .abt_box{
    margin: 50px 0;
}
.abt_box .box{
    width: 49%;
}
.abt_box .box img{
    width: 100%;
    height: 60%;
    border-radius: 20px;
}
.abt_box .box h6{
    margin: 20px 0;
    font-size: 12px;
    color: rgba(138, 138, 138, 0.329);
    text-transform: uppercase;
}
.abt_box .box h3{
    font-size: 35px;
    line-height: 0.9;
}
.about_us{
    background-color: #fff;
    padding: 30px 0 70px 0;
    color: #474747;
    position: relative;
}
.about_title{
    width: 60%;
    margin: auto;
    font-size: 50px;
    text-align: center;
    line-height: 1;
    color:  orangered!important;
    margin-bottom: 20px;
}
.about_us .about_content p{
    width: 70%;
    margin: auto;
    text-align: center;
}
.about_us .about_content .about_box{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}
.about_us .about_content .about_box .box div{
    padding: 10px 0;
}
.about_us .about_content .about_box .box p{
    width: 100%;
    text-align: left;
}
.about_us .about_content .about_box .box{
    width: 32%;
    box-shadow: 2px 2px 14px #ececec;
    background-color: #ffffff;
}
.about_us .about_content .about_box .box .title{
    margin: 20px 0;
}
.place_price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.subscribe{
    background-color: orangered;
    position: relative;
    padding: 50px 0;
    text-align: center;
}
.subscribe:after{
    content: '';
    position: absolute;
    height: 100px;
    top: -70px;
    right: 0;
    left: 0;
    background: rgba(255, 68, 0, 0.76);
    transform: skewY(-4deg);
}
.subscribe:before{
    content: '';
    position: absolute;
    height: 100px;
    top: -60px;
    right: 0;
    left: 0;
    background: rgb(136, 73, 50);
    transform: skewY(-3deg);
    background-color: orangered;
}

.subscribe .sub-title{
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
}
.subscribe .sub-flex .sub-text{
    font-size: 16px;
    line-height: 1.2em;
    color: #d6d6d6;
}
.sub-flex{
    width: 60%;
    margin: auto;
}
.sub-flex form{
    width: 60%;
    background-color: #fff;
    border-radius: 50px;
    margin: auto;
}
.sub-flex .form-group{
    margin: 40px 0;
}
.sub-flex form input{
    width: 79%;
    padding: 10px 15px;
    font-size: 15px;
    font-family: cursive;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
    outline: none;
}
.sub-flex form .button{
    background-color: #000000;
    color: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px 30px;
    font-size: 15px;
    font-family: cursive;
    cursor: pointer;
    border: none;
    outline: none;
}
/* Contact Form css */
.mini-hero{
    background-image: url('assets/img/mplace.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.671);
    padding: 150px 0 50px 0;
}
.mini-hero .hero-content a{
    color: aliceblue;
    margin: 0 10px;
    transition: color .3s ease-in-out;
}
.mini-hero .hero-content a:hover{
    color: orangered;
}
.contact-form{
    background-color: black;
    padding: 50px 0;
    color: #fff;
    text-align: center;
    font-size: 15px;
    padding-bottom: 150px;
}
.contact-form .container form{
    width: 60%;
    margin: auto;
    margin-top: 50px;
}
.contact-form .container form input, .contact-form .container form textarea{
    width: 80%;
    font-size: 15px;
    padding: 15px 20px;
    background-color: #000000b2;
    border: 1px solid #1e1e1e;
    outline: none;
    margin: 15px 0;
    color: #fff;
    font-family: cursive;
}
.contact-form .container form textarea{
    max-width: 100%;
}
.contact-form .container form button{
    width: 30%;
    padding: 15px 0;
    cursor: pointer;
    background-color: burlywood;
    border: none;
    transition: background-color .3s ease-in-out;
    color: orangered;
    font-family: cursive;
    font-weight: bold;
}
.contact-form .container form button:hover{
    background-color: beige;
}
/* Footer */
.footer{
    background-color: rgb(0, 0, 0);
    color: #f5f5f5;
    padding: 70px 0;
}
.footer .grid-3{
    display: flex;
    justify-content: space-between;
}
.footer .grid-3 div{
    width: 25%;
    min-width: 20px;
}
.footer .grid ul li{
    color: #f4f4f4 !important;
}
.footer h4{
    margin-bottom: 10px;
}
.footer .social a .icon{
    color: orangered !important;
}
.input-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    min-width: 80%;
    margin-top: 15px;
    background-color: transparent;
}
.input-group input[type="text"], .input-group input[type="button"]{
    outline: none;
    border: 1px solid rgb(94, 94, 94);
    padding: 10px 15px;
    color: #ffffff;
    background-color: transparent;
}
.input-group input[type="text"]{
    border-bottom-left-radius: 20px;
}
.input-group input[type="button"]{
    background-color: cadetblue;
    border-top-right-radius: 20px;
    cursor: pointer;
    color: #000000;
}
/* Media Query Tablets and under */
@media(max-width: 1340px){
}
/* Media Query Tablets and under */
@media(max-width: 879px){
    .hero-content{
        padding: 0 30px;
        top: 25%;
    }
    .hero-content h1{
        font-size: 80px;
    }
    .hero{
        width: 100%;
        height: 70vh;
    }
    .background-clip{
        width: 100%;
        height: 70vh;
        top: 0;
    }
    .about_us .about_content .about_title{
        width: 100%;
        font-size: 50px;
        text-align: center;
    }
    .about_us .about_content p{
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .about_us .about_content .about_box .box{
        width: 100%;
        margin-bottom: 30px;
    }
    .input-group{
        display: block;
    }
}
/* Media Query Mobile */
@media(max-width: 576px){
    .container{
        width: 100%;
        padding: 5px 50px;
    }
    .navbar .right .link_with_us, .navbar .left .menu{
        display: none;
    }
   .hiddenMenu{
        display: none;
    }  
    .hambuger{
        display: block;
    }
    .hero-content{
        padding: 0 20px;
        width: 100%;
        top: 20%;
        text-align: center;
    }
    .hero-content h1{
        font-size: 30px;
    }
    .hero{
        height: 50vh;
    }
    .background-clip{
        height: 50vh;
    }
    .aboutcontent .card-container{
        display: block;
    }
    .aboutcontent .card-container .box1, .aboutcontent .card-container .box2{
        width: 100%;
   }   
    .mini{
        display: block;
    }
    .mie{
        width: 100%;
        margin-bottom: 20px;
    }
    .mie img{
        width: 25%;
    }
    .abt_box{
        display: block;
    }
    .abt_box .box{
        width: 100%;
    }
   .about_us .about_content .about_title{
        width: 100%;
        font-size: 30px !important;
    }
    .about_us .about_content p{
        width: 100%;
        text-align: center;
    }
    .about_us .about_content .about_box{
        display: block;
        margin: 50px 0;
    }
    .about_us .about_content .about_box .box{
        width: 100%;
        margin-bottom: 30px;
    }
    .footer .grid-3{
        display: block;
        width: 100%;
    }
    .input-group{
        display: flex;
    }
}